:root { /* Use these by calling var(--gray-500) for example */
    --gray-100: #f3f4f6;
    --gray-500: #6b7280;
    --gray-700: #374151;
    --gray-900: #111827;
    --brand-200: #bae6fd;
    --brand-300: #7dd3fc;
    --brand-500: #0ea5e9;
    --brand-600: #0284c7;
    --brand-700: #0369a1;
    --brand-900: #0c4a6e;
    --accent-300: #fcd34d;
    --accent-500: #f59e0b;
    --accent-700: #b45309;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--gray-900)
}

body {
    width: 100%;
    background-color: var(--gray-100);
}

header {
    width: 100%;
    background-color: var(--brand-200);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1080px;
    margin: 0 auto;
    padding: 5px 10px;
}

header a { /* All anchor elements in header, no matter how deep they root */
    font-size: 24px;
    color: var(--accent-500);

    &:hover {
        color: var(--accent-500);
    }
}

a > img { /* Only images directly in anchor elements */
    aspect-ratio: 1/1;
    width: 50px;
}